version: 2.1

orbs:
  rok8s-scripts: fairwinds/rok8s-scripts@14

executors:
  golang-exec:
    docker:
      - image: cimg/go:1.25

references:
  install_vault_alpine: &install_vault_alpine
    run:
      name: install hashicorp vault
      command: |
        apk --update add curl yq
        cd /tmp
        curl -LO https://releases.hashicorp.com/vault/1.12.2/vault_1.12.2_linux_amd64.zip
        sha256sum vault_1.12.2_linux_amd64.zip | grep 116c143de377a77a7ea455a367d5e9fe5290458e8a941a6e2dd85d92aaedba67
        unzip vault_1.12.2_linux_amd64.zip
        mv vault /usr/bin/vault

jobs:
  test:
    executor: golang-exec
    steps:
      - checkout
      - run:
          name: Go Mod Download
          command: go mod download
      - run:
          name: Run Tests
          command: go test -v -race -coverprofile=coverage.out ./...
      - run:
          name: Build Binary
          command: go build -o helm-release-pruner ./cmd/pruner

  lint:
    executor: golang-exec
    steps:
      - checkout
      - run:
          name: Install golangci-lint
          command: |
            curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.62.2
      - run:
          name: Run Linter
          command: golangci-lint run --timeout 5m

  build_docker:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build Docker Image
          command: docker build -t helm-release-pruner:test .

  prep_vars_and_release:
    working_directory: /home/circleci/src/github.com/fairwindsops/helm-release-pruner
    docker:
      - image: quay.io/reactiveops/ci-images:v14-alpine
    resource_class: large
    shell: /bin/bash
    steps:
      - checkout
      - setup_remote_docker
      - *install_vault_alpine
      - rok8s-scripts/get_vault_env:
          vault_path: repo/global/env
      - rok8s-scripts/set_env
      - rok8s-scripts/docker_login:
          username: $FAIRWINDS_QUAY_USER
          password-variable: FAIRWINDS_QUAY_TOKEN
      - rok8s-scripts/docker_build:
          config: deploy/build.config
      - rok8s-scripts/docker_push:
          config: deploy/build.config

workflows:
  version: 2
  ci:
    jobs:
      - test
      - lint
      - build_docker:
          requires:
            - test
            - lint

  release:
    jobs:
      - prep_vars_and_release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
